.icon{ background: url("icon.png") no-repeat;}
i{ display: block;}
.icon-nav{ width: 80px; height: 80px;}
.icon-home{background-position: 0 0;}
.icon-plot{background-position: 0 -83px;}
.icon-thfang{background-position: 0 -165px;}
.icon-tjfang{background-position: 0 -248px;}
.icon-xqfang{background-position: 0 -330px;}
.icon-kft{background-position: 0 -413px;}
.icon-answer{background-position: 0 -495px;}
.icon-calculator{background-position: 0 -578px;}
.icon-news{background-position: 0 -660px;}
.icon-guide{width: 32px; height: 32px; background-position: 0 -976px;}
.icon-goto-top{width: 66px; height: 66px; background-position:0 -745px;}
.icon-tel{width: 64px; height: 64px; background-position: 0 -820px;}
.icon-mail{width: 64px; height: 64px; background-position: 0 -890px;}
.icon-right-arrow{ width: 25px; height: 42px; background-position: -3px -1027px;}
.icon-search{width: 32px; height: 32px; background-position: 0 -1086px;}
.icon-selected{width: 38px; height: 29px; background-position: -1px -1132px;}
.icon-map{ width: 25px; height: 32px;background-position: -1px -1180px;}
.icon-time{width: 32px; height: 32px; background-position: -1px -1230px;}
.icon-right-arrow2{width: 24px; height: 48px; background-position: -4px -1286px;}
.icon-menu{width: 39px; height: 26px; background-position: 0 -1358px;}
.icon-white-larrow{width: 25px; height: 42px; background-position: -1px -1406px;}
.icon-white-rarrow{width: 25px; height: 42px; background-position: -54px -1406px;}
.icon-black-arrow{width: 25px; height: 42px; background-position: -1px -1467px;}
.icon-sright-arrow{width: 15px; height: 26px; background-position: 0 -1526px;}
.icon-top-arrow{width: 26px; height: 15px; background-position: 0 -1570px;}
.icon-bottom-arrow{width: 26px; height: 15px; background-position: 0 -1600px;}
.icon-exit{width: 36px; height: 31px; background-position: 0 -1628px;}
.icon-pic{width: 16px; height: 13px; background-position: 0 -1680px;}
